@using Application.DTOs.CategoryDTOs
@model List<CategoryViewDto>
<div class="container ec-navbar-top">
    <div class="ec-navbar-logo">
        <a href="/Home/Index">Alışveriş Sitesi</a>
    </div>
    <div class="ec-navbar-search-area">
        <form asp-controller="Product" asp-action="Search" method="get">
            <input type="search" name="searchTerm" placeholder="Ürün, kategori veya marka ara"
                   class="ec-navbar-search" />
        </form>
    </div>
    <div class="ec-navbar-right">
        <div class="ec-user-menu">
            <a class="ec-nav-item">@(User.Identity.IsAuthenticated? User.Identity.Name : "Giriş Yap")</a>
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <div class="ec-user-dropdown">
                        <a asp-controller="Account" asp-action="Login" class="ec-btn-login ec-account">Favoriler</a>
                        <a asp-controller="Account" asp-action="Login" class="ec-btn-login ec-account">Ayarlar</a>
                        <button type="submit" class="ec-btn-login ec-account">Çıkış</button>
                    </div>
                </form>
            }
            else
            {
                <div class="ec-user-dropdown">
                    <a asp-controller="Account" asp-action="Login" class="ec-btn-login ec-account">Giriş Yap</a>
                    <a asp-controller="Account" asp-action="Register" class="ec-btn-register ec-account">Kayıt Ol</a>
                </div>
            }

        </div>
        <a asp-controller="Cart" asp-action="Index" class="ec-nav-item">🛒 <span>Sepetim</span></a>
    </div>
</div>
<div class="ec-navbar-bottom">
    <div class="container">
        <ul class="ec-categories">
            <li class="ec-cat-all">☰ Kategoriler</li>
            @foreach (var category in Model)
            {
                <li><a asp-controller="Product" asp-action="Index" asp-route-name="@category.Name">@category.Name</a></li>
            }
        </ul>
    </div>
</div>